{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block profile %}
	<!-- DataTales Example -->
<br>
                    <section class="row">
                        <section class="col col-sm-8 offset-sm-2">

                            {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}

                        </section>
                    </section>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example<a style="float:right; color: green" href="#" data-toggle="modal" data-target="#modalLoginForm">Add</a></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Role</th>
                      <th>is_active</th>
                      <th>is_admin</th>
                      <th>plus...</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                  {% for u in user %}
                    <tr>
                        <td>{{ u.email }}</td>
                        <td>{{ u.role }}</td>
                        {% if u.is_active %}
                        <td style="color:green;">yes</td>
                        {% else %}
                        <td style="color:red">no</td>
                        {% endif %}
                        {% if u.is_admin %}                      
                          <td style="color: green;">yes</td>
                        {% else %}
                          <td style="color: red">no</td>
                            {% endif %}
                         <td> 
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </section> <!-- /container --> 
        </section>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Register a User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form | crispy }}
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}